name: github-actions
run-name: Deploy to ${{ inputs.deploy_target }} by @${{ github.actor }}
on: 
  push: 
    branches: [ master ]
  pull_request: 
    branches: [ master ]
jobs:
  init:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '17'
      - name: install modules
        run: npm install
      - name: build project
        run: npm run build
      - name: lint code
        run: npm run lint
      - name: format code
        run: npm run format
